<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/navbar.css" class="css">
    <title>{% if data %}{{ data.title }}{% else %}Northside Chapel{% endif %}</title>
</head>
<body>
    <div class="container header">
        <div class="title">Northside Chapel - Bay City, Texas</div>
    </div>
    {% include 'navbar.html' %}
 
    {% block content %}
        information to go here
    {% endblock %}

    
{% block script %}
    scripts go here
{% endblock script %}
</body>
</html>