<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/dragNdrop.css" class="css">
    <title>Drag and Drop</title>
</head>
<body>
    
    
    <div id="drop-area">
        <form class="my-form" action="#" method="POST">
            <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
            <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
            <label class="button" for="fileElem">Select some files</label>
            <input type="submit" value="Upload">
        </form>
</body>
<script src="/static/js/dragNdrop.js"></script>
</html>
  